__pycache__/
*.py[cod]
*.egg-info/
.venv/
.ipynb_checkpoints/
*.asv
*.m~
.DS_Store
Thumbs.db
.idea/
.vscode/
Data/tier1_3606_SPEI_SSI_timeseries.csv
Data/all_events_with_dynamic_bfi.csv
Data/matched_pairs_dynamic.csv
